<body>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                               
                                <div class="x_content">
									<div class="col-md-6 col-sm-6 col-xs-6">
										<img src="images/samuel.jpg" alt="..." class="img-square img-responsive" style="max-height:250px">
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<h3> {{mentor.firstname}} {{mentor.lastname}}'s Profile</h3> 
										<h2> Mentee: {{mentee.name}}</h2>
										<h2> DOB: {{mentee.dob}} </h2>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
					
					<div class="row">
						<!-- info input -->
                        <div class="col-md-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Profile Info </h2>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form class="form-horizontal form-label-left input_mask" name="profileForm">

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" name="mentorFirst" placeholder="{{mentor.firstname}}" ng-model="newFirst">
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" id="mentorLast" placeholder="{{mentor.lastname}}" ng-model="newLast">
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" name="mentorEmail" placeholder="{{mentor.email}}" ng-model="newEmail">
                                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" name="mentorPhone" placeholder="{{mentor.phone}}" ng-model="newPhone">
                                            <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                                        </div>

										<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" name="mentorAddress" placeholder="{{mentor.address}}" ng-model="newAddress">
                                            <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                                        </div>
										
                                        
                                        
										

                                    </form>
                                </div>
                            </div>
                </div>
						<!-- Emergency contact -->
						<div class="col-md-6 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Emergency Contacts </h2>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form class="form-horizontal form-label-left input_mask"  name="emergency">
										<div ng-repeat="contact in contacts">
										<div class="form-group" >
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <select class="form-control" id="picker{{$index}}">
                                                    <option>{{contact.relationship}}</option>
                                                    <option>Mother</option>
                                                    <option>Father</option>
                                                    <option>Significant Other</option>
                                                    <option>Friend</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" id="name{{$index}}" placeholder="{{contact.name}}" ng-model="newName[$index]">
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                       
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                            <input type="text" class="form-control has-feedback-left" id="email{{$index}}" placeholder="{{contact.email}}" ng-model="emergEmail[$index]">
                                            <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                        </div>
										</div>

                                      

                                        
                                        
                                    </form>
                                </div>
                            </div>
                </div>
				
						<!-- button submit info -->
				<div class="row">
					<div class="col-md-12 col-xs-12">
								<div class="x_panel">
									
									<div class="x_content">
										<br />
										<form class="form-horizontal form-label-left input_mask">

										  	<div class="form-group">
	                                            <div class="text-center">
													<button type="submit" class="btn btn-primary" >Cancel</button>
													<button type="submit" class="btn btn-success" ng-click="submit()">Submit</button>
                                            	</div>
											</div>

										</form>
									</div>
								</div>
					</div>
				</div>

           
            </div>
            <!-- /page content -->
	</body>