		<script>
        $(function() { // makes the datepicker input box into a proper datepicker
            $( "#datepicker" ).datepicker();
          });

        </script>

<div>
    <h1>Journal</h1>
    <h3>New Journal Entry</h3>
    <p>Date: <input type="text" id="datepicker"></p>
    <p>One-Line Summary: <input type="text" id="summary" ng-model="newSummary"></p>
    <p>Entry: <textarea rows="4" cols="50" id="entry" ng-model="newEntry"></textarea></p>
    <button type="button" class="btn btn-default" ng-click="save()">Save</button>
    <h3>Past Journal Entries</h3>
    <ul ng-repeat="post in journals">
        <li> Date: {{ post.date }} <br> Summary: {{ post.summary }} <br>
            <p class="entry collapse" id="journal{{$index}}"> <span class="content">{{ post.entry }}</span> </p>
            <button type="button" class="view btn btn-default" ng-click="view(this)" id="view{{$index}}">View Entry &raquo;</button>
            <button type="button" class="btn btn-default" ng-click="remove(this)">Delete</button>
            <button type="button" class="btn btn-default" ng-click="edit(this)">Edit</button>
        </li>
    </ul>
</div>
