<body>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Request Changes</h2>
                    <div class="clearfix"></div>
                </div> 
                <div class="x_content">
                    <form class="form-horizontal form-label-left input_mask" name="changesForm">
                        <div class="form-group">
                        <div class="row"></div>
                        <div class="form-group">
                            <label class="control-label">New Emergency Contact</label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" id="contact_name" placeholder="{{emergency_contact.name}}" ng-model="newContactName">
                            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" id="contact_relationship" placeholder="{{emergency_contact.relationship}}" ng-model="newContactRelationship">
                            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" id="contact_phone" placeholder="{{emergency_contact.phone}}" ng-model="newContactPhone">
                            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" id="contact_email" placeholder="{{emergency_contact.email}}" ng-model="newContactEmail">
                            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" id="contact_address" placeholder="{{emergency_contact.address}}" ng-model="newContactAddress">
                            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="row"></div>
                        <div class="col-md-6 col-sm-6 col-xs-6 form-group has-feedback">
                            <input type="text" class="form-control has-feedback-left" id="contact_comments" placeholder="{{emergency_contact.extra}}" ng-model="newContactComments">
                            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="row"></div>
                        <div class="form-group" style="padding-top:15px>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary">Cancel</button>
                                <button type="submit" class="btn btn-success ng-click="submit()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>